body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form {
  display: flex;
  flex-direction: column;
  border: 1.5px solid #cccdce;
  border-radius: 5px;
  width: 600px;
  margin-top: 100px;
  padding: 15px 20px 20px 20px;
}

#cnt1 {
  margin-bottom: 15px;
}

.cnt {
  display: flex;
  justify-content: stretch;
  flex-direction: row;
  align-items: center;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 60px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.inp {
  height: 50px;
  width: 100%;
  background-color: white;
  text-align: left;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
